@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  padding: 0px;
  margin: 0;
  color: white;
}
header {
  text-align: center;
  background-color: #0d0335e5;
  color: wheat;
  padding: 0.4rem;
}
header h1 {
  display: inline;  
  font-family: "Ephesis";
  font-size: 3rem;
}
.main-game {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 10vh;
}
table {
  border-collapse: collapse;
}
.cell {
  border: 2px solid white;
  height: 120px;
  width: 120px;
  font-family: "Jetbrains Mono", "Segoe UI", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
  padding: 0.5rem;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
tr:last-child td {
  border-bottom: none;
}
tr:first-child td {
  border-top: none;
}
.cell:hover {
  cursor: pointer;
  background: linear-gradient(100deg, #b40303e5, #159909);
  transition: 0.3s ease-in-out;
}
#reset {
  background: #ec5e0b;
  border: 2px solid red;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 40vw;
  margin: 0.5rem;
  position: relative;
  left: 30vw;
  bottom: -15vh;
  border-radius: 10px;
}
#reset:hover {
  background-color: rgb(255, 196, 0);
  box-shadow: 1px 2px 6px 2px rgb(255, 115, 0);
  transition:  0.3s ease-in-out;
  cursor: pointer;
}