@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  padding: 0px;
  margin: 0;
  color: white;
}
header {
  text-align: center;
  background-color: #0d0335e5;
  color: wheat;
  padding: 0.4rem;
}
header h1 {
  display: inline;
  font-family: "Ephesis";
  font-size: 3rem;
}
.main-game {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 10vh;
}
table {
  border-collapse: collapse;
}
.cell {
  border: 2px solid white;
  height: 120px;
  width: 120px;
  font-family: "Jetbrains Mono", "Segoe UI", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
tr:last-child td {
  border-bottom: none;
}
tr:first-child td {
  border-top: none;
}
.cell:hover {
  cursor: pointer;
  background: linear-gradient(100deg, #b40303e5, #159909);
  transition: 0.3s ease-in-out;
}
.reset-div {
  display: flex;
  position: relative;
  bottom: -13vh;
  justify-content: center;
  align-content: flex-end;
}
#reset {
  opacity: 0.8;
  background: transparent;
  font-size: 3rem;
  padding: 0.5rem;
  color: teal;
  margin: 0.5rem;
  outline: none;
  width: 25%;
  border: none;
  font-family: "Fruktur", Arial, Helvetica, sans-serif;
}
#reset:hover {
  opacity: 1;
  animation-name: border-offset;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 
  transition: 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

/* animation for button */
@keyframes border-offset {
  0%{
    border-top: 2px solid #ff8800f3;
    transition: 0.5s ease-out;
  }
  25% {
    border-right: 2px solid #ff8800f3;
    transition: 0.5s ease-out;
  }
  50%{
    border-bottom: 2px solid #ff8800f3;
    transition: 0.5s ease-out;
  }
  75%{
    border-left: 2px solid #ff8800f3;
    transition: 0.5s ease-out;
  }
  100%{
    border: 2px solid #ff8800f3;
    transition: 0.5s ease-out;
    box-shadow: 8px 10px 0px 0px #ff7300;
  }
}